In [1]:
import pandas as pd

In [2]:
# script
import pandas as pd
df_user_details = pd.read_csv('/home/arsun/projects/AnimeReview-BLG317/data/archive/users-details-2023.csv')
df_user_details

,Mal ID,Username,Gender,Birthday,Location,Joined,Days Watched,Mean Score,Watching,Completed,On Hold,Dropped,Plan to Watch,Total Entries,Rewatched,Episodes Watched
0,1,Xinil,Male,1985-03-04T00:00:00+00:00,California,2004-11-05T00:00:00+00:00,142.3,7.37,1.0,233.0,8.0,93.0,64.0,399.0,60.0,8458.0
1,3,Aokaado,Male,NaN,"Oslo, Norway",2004-11-11T00:00:00+00:00,68.6,7.34,23.0,137.0,99.0,44.0,40.0,343.0,15.0,4072.0
2,4,Crystal,Female,NaN,"Melbourne, Australia",2004-11-13T00:00:00+00:00,212.8,6.68,16.0,636.0,303.0,0.0,45.0,1000.0,10.0,12781.0
3,9,Arcane,NaN,NaN,NaN,2004-12-05T00:00:00+00:00,30.0,7.71,5.0,54.0,4.0,3.0,0.0,66.0,0.0,1817.0
4,18,Mad,NaN,NaN,NaN,2005-01-03T00:00:00+00:00,52.0,6.27,1.0,114.0,10.0,5.0,23.0,153.0,42.0,3038.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731285,1291083,Dolopa,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731286,1291085,alenrobnik,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,21.4,8.22,16.0,58.0,9.0,1.0,42.0,126.0,0.0,1239.0
731287,1291087,Oblongata,NaN,1993-01-30T00:00:00+00:00,NaN,2012-05-06T00:00:00+00:00,51.3,7.53,38.0,175.0,0.0,9.0,211.0,433.0,2.0,3010.0
731288,1291091,Etnota,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731289,1291097,JuunanaSai,Female,NaN,NaN,2012-05-06T00:00:00+00:00,3.7,9.67,1.0,11.0,0.0,0.0,2.0,14.0,0.0,222.0

In [ ]:
table_1 = df_user_details[['Mal ID', 'Username', "Gender", "Birthday", "Location", "Joined", "Days Watched"]]

table_1.rename(columns={'Mal ID': 'user_id'}, inplace=True)
table_1['Joined'] = pd.to_datetime(
    table_1['Joined'], errors='coerce', utc=True
).dt.tz_localize(None).dt.strftime('%Y-%m-%d %H:%M:%S')

table_1['Birthday'] = pd.to_datetime(
    table_1['Birthday'], errors='coerce', utc=True
).dt.date

USER_COUNT = 100000 
table_1 = table_1[table_1["user_id"] < USER_COUNT]
print(table_1.columns)

table_1['Birthday'].replace(pd.NaT, 'NULL', inplace=True)
table_1["Location"].replace(pd.NaT, 'NULL', inplace=True)
table_1["Gender"].replace(pd.NaT, 'NULL', inplace=True)

table_1.to_csv('/home/arsun/projects/AnimeReview-BLG317/data/processed/1users.csv', index=False)
del table_1

/tmp/ipykernel_13845/44767043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_1.rename(columns={'Mal ID': 'user_id'}, inplace=True)
/tmp/ipykernel_13845/44767043.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_1['Joined'] = pd.to_datetime(
/tmp/ipykernel_13845/44767043.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_1['Birthday'] = pd.to_datetime(
/tmp/ipykernel_13845/44767043.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  table_1['Birthday'].replace(pd.NaT, 'NULL', inplace=True)

Index(['user_id', 'Username', 'Gender', 'Birthday', 'Location', 'Joined',
       'Days Watched'],
      dtype='object')

In [4]:
# table 2 Anime Information
df_anime_information = pd.read_csv("/home/arsun/projects/AnimeReview-BLG317/data/archive/anime-filtered.csv")
df_anime_information

,anime_id,Name,Score,Genres,English name,Japanese name,sypnopsis,Type,Episodes,Aired,...,Duration,Rating,Ranked,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,"In the year 2071, humanity has colonized sever...",TV,26,"Apr 3, 1998 to Apr 24, 1999",...,24 min. per ep.,R - 17+ (violence & profanity),28.0,39,1251960,61971,105808,718161,71513,26678
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,"other day, another bounty—such is the life of ...",Movie,1,"Sep 1, 2001",...,1 hr. 55 min.,R - 17+ (violence & profanity),159.0,518,273145,1174,4143,208333,1935,770
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,"Vash the Stampede is the man with a $$60,000,0...",TV,26,"Apr 1, 1998 to Sep 30, 1998",...,24 min. per ep.,PG-13 - Teens 13 or older,266.0,201,558913,12944,29113,343492,25465,13925
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),ches are individuals with special powers like ...,TV,26,"Jul 2, 2002 to Dec 24, 2002",...,25 min. per ep.,PG-13 - Teens 13 or older,2481.0,1467,94683,587,4300,46165,5121,5378
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,It is the dark century and the people are suff...,TV,52,"Sep 30, 2004 to Sep 29, 2005",...,23 min. per ep.,PG - Children,3710.0,4369,13224,18,642,7314,766,1108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14947,48481,Daomu Biji Zhi Qinling Shen Shu,6.51,"Adventure, Mystery, Supernatural",Unknown,盗墓笔记之秦岭神树,No synopsis information has been added to this...,ONA,Unknown,"Apr 4, 2021 to ?",...,Unknown,Unknown,NaN,13116,354,6,0,0,0,0
14948,48483,Mieruko-chan,6.51,"Comedy, Horror, Supernatural",Unknown,見える子ちゃん,ko is a typical high school student whose life...,TV,Unknown,2021 to ?,...,Unknown,Unknown,NaN,17562,7010,70,14,0,14,0
14949,48488,Higurashi no Naku Koro ni Sotsu,6.51,"Mystery, Dementia, Horror, Psychological, Supe...",Higurashi:When They Cry – SOTSU,ひぐらしのなく頃に卒,Sequel to Higurashi no Naku Koro ni Gou .,TV,Unknown,"Jul, 2021 to ?",...,Unknown,R - 17+ (violence & profanity),NaN,17558,11309,48,3,0,0,0
14950,48491,Yama no Susume: Next Summit,6.51,"Adventure, Slice of Life, Comedy",Unknown,ヤマノススメ Next Summit,New Yama no Susume anime.,TV,Unknown,Unknown,...,Unknown,PG-13 - Teens 13 or older,NaN,17565,1386,2,13,2,2,1
14951,48492,Scarlet Nexus,6.51,"Action, Fantasy",Unknown,SCARLET NEXUS,Solar calendar year 2020: grotesque organisms ...,TV,Unknown,"Jul, 2021 to ?",...,Unknown,Unknown,NaN,17563,310,0,4,0,1,1

In [5]:
df_anime_information = df_anime_information.rename({'Name': 'anime_name',
                                                     'English name': 'english_name',
                                                     "Japanese name": 'other_name',
                                                    "sypnopsis": "synopsis",
                                                    "Type": "type_anime"}, axis='columns')
df_anime_information = df_anime_information[['anime_id', 'anime_name', 'english_name', 'other_name', 'synopsis', 'type_anime',"Genres"]]

df_anime_information.to_csv('/home/arsun/projects/AnimeReview-BLG317/data/processed/2anime_information.csv', index=False)
del df_anime_information

In [6]:
df_anime_scores = pd.read_csv("/home/arsun/projects/AnimeReview-BLG317/data/archive/user-filtered.csv")
df_anime_scores

           user_id  anime_id  rating
0                0        67       9
1                0      6702       7
2                0       242      10
3                0      4898       0
4                0        21      10
...            ...       ...     ...
109224742   353404       507       7
109224743   353404       392       9
109224744   353404       882       6
109224745   353404       883       8
109224746   353404       149       0

[109224747 rows x 3 columns]

In [7]:
USER_COUNT = 100000
df_anime_scores = df_anime_scores[df_anime_scores["user_id"] < USER_COUNT]
df_anime_scores["comment"] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
df_anime_scores["score_id"] = "NULL"
df_animes_scores = df_anime_scores[["score_id", "user_id", "anime_id", "rating","comment"]]
df_anime_scores.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/3anime_scores.csv")

/tmp/ipykernel_13845/252182752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anime_scores["comment"] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
/tmp/ipykernel_13845/252182752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anime_scores["score_id"] = "NULL"

In [8]:
# df_scores = pd.read_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/3anime_scores.csv")


# print(df_scores.columns)

In [9]:
df_anime_scores.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/3anime_scores.csv", index=False)
del df_anime_scores

In [10]:
import pandas as pd
df_producers = pd.read_csv("/home/arsun/projects/AnimeReview-BLG317/data/archive/anime-filtered.csv")
print(df_producers.columns)
df_producers.head()

Index(['anime_id', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'sypnopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Producers',
       'Licensors', 'Studios', 'Source', 'Duration', 'Rating', 'Ranked',
       'Popularity', 'Members', 'Favorites', 'Watching', 'Completed',
       'On-Hold', 'Dropped'],
      dtype='object')

,anime_id,Name,Score,Genres,English name,Japanese name,sypnopsis,Type,Episodes,Aired,...,Duration,Rating,Ranked,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,"In the year 2071, humanity has colonized sever...",TV,26,"Apr 3, 1998 to Apr 24, 1999",...,24 min. per ep.,R - 17+ (violence & profanity),28.0,39,1251960,61971,105808,718161,71513,26678
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,"other day, another bounty—such is the life of ...",Movie,1,"Sep 1, 2001",...,1 hr. 55 min.,R - 17+ (violence & profanity),159.0,518,273145,1174,4143,208333,1935,770
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,"Vash the Stampede is the man with a $$60,000,0...",TV,26,"Apr 1, 1998 to Sep 30, 1998",...,24 min. per ep.,PG-13 - Teens 13 or older,266.0,201,558913,12944,29113,343492,25465,13925
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),ches are individuals with special powers like ...,TV,26,"Jul 2, 2002 to Dec 24, 2002",...,25 min. per ep.,PG-13 - Teens 13 or older,2481.0,1467,94683,587,4300,46165,5121,5378
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,It is the dark century and the people are suff...,TV,52,"Sep 30, 2004 to Sep 29, 2005",...,23 min. per ep.,PG - Children,3710.0,4369,13224,18,642,7314,766,1108

In [11]:
df_studios = df_producers[["Studios"]]
# df_studios["studio_id"] = "NULL"
# df_studios.set_index("studio_id", inplace=True)

df_studios = df_studios[["Studios"]]
df_studios = df_studios.drop_duplicates(subset=["Studios"])

df_studios.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/5studios.csv")
df_studios.head()

          Studios
0         Sunrise
1           Bones
2        Madhouse
4  Toei Animation
5          Gallop

In [12]:
df_producer = df_producers[["anime_id", "Producers"]]
# df_producer["producer_id"] = "NULL"


# df_producer = df_producer[["producer_id", "Producers"]]

df_producer = df_producer[["Producers"]]
df_producer = df_producer.drop_duplicates(subset=["Producers"])

# df_producer.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/4producers.csv", index=False)
df_producer.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/4producers.csv")

In [13]:
df_licensor = df_producers[["anime_id", "Licensors"]]
# df_licensor["producer_id"] = "NULL"


# df_licensor = df_licensor[["producer_id", "Producers"]]

df_licensor = df_licensor[["Licensors"]]
df_licensor = df_licensor.drop_duplicates(subset=["Licensors"])

# df_licensor.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/4producers.csv", index=False)
df_licensor.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/8licensors.csv")

In [14]:
df_anime = pd.read_csv("/home/arsun/projects/AnimeReview-BLG317/data/archive/anime-filtered.csv")

df_anime.head()
df_anime.columns

Index(['anime_id', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'sypnopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Producers',
       'Licensors', 'Studios', 'Source', 'Duration', 'Rating', 'Ranked',
       'Popularity', 'Members', 'Favorites', 'Watching', 'Completed',
       'On-Hold', 'Dropped'],
      dtype='object')

In [15]:
df_producer.reset_index(inplace=True)
df_producer.rename(columns={"index": "producer_id", "Producers": "producer_name"}, inplace=True)
df_producer

      producer_id                                      producer_name
0               0                                      Bandai Visual
1               1                             Sunrise, Bandai Visual
2               2                               Victor Entertainment
3               3  TV Tokyo, Bandai Visual, Dentsu, Victor Entert...
4               4                                   TV Tokyo, Dentsu
...           ...                                                ...
3709        14916                               Suiseisha, blackflag
3710        14931       flying DOG, Sound Team Don Juan, Twin Engine
3711        14935           flying DOG, Hakuhodo DY Music & Pictures
3712        14944                                     Bandai Spirits
3713        14945                   Bushiroad, Bit grooove promotion

[3714 rows x 2 columns]

In [16]:
df_studios.reset_index(inplace=True)
df_studios.rename(columns={"index": "studio_id", "Studios": "studio_name"}, inplace=True)
df_studios

      studio_id                   studio_name
0             0                       Sunrise
1             1                         Bones
2             2                      Madhouse
3             4                Toei Animation
4             5                        Gallop
...         ...                           ...
1043      14910        10Gauge, Studio DURIAN
1044      14916                       Irawias
1045      14922  SILVER LINK., Studio Palette
1046      14935                            OZ
1047      14941                  Studio Kafka

[1048 rows x 2 columns]

In [17]:
df_licensor.reset_index(inplace=True)
df_licensor.rename(columns={"index": "licensor_id", "Licensors": "licensor_name"}, inplace=True)
df_licensor

     licensor_id                         licensor_name
0              0      Funimation, Bandai Entertainment
1              1           Sony Pictures Entertainment
2              2  Funimation, Geneon Entertainment USA
3              4                               Unknown
4              5           VIZ Media, Sentai Filmworks
..           ...                                   ...
226        12505         Sentai Filmworks, Ponycan USA
227        12588           Discotek Media, Ponycan USA
228        13576                            Media Bank
229        14006            Sentai Filmworks, Kadokawa
230        14303                                 iQIYI

[231 rows x 2 columns]

In [18]:
df_anime.columns

Index(['anime_id', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'sypnopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Producers',
       'Licensors', 'Studios', 'Source', 'Duration', 'Rating', 'Ranked',
       'Popularity', 'Members', 'Favorites', 'Watching', 'Completed',
       'On-Hold', 'Dropped'],
      dtype='object')

In [19]:
df_anime_production = df_anime[["anime_id", "Licensors", "Producers", "Studios"]]
# df_anime_production.rename(columns={"Licensors": "licensors"}, inplace=True)

# df_anime_production["production_id"] = "NULL"
df_anime_production = df_anime_production.merge(df_producer, left_on='Producers', right_on='producer_name', how='left')
df_anime_production = df_anime_production.merge(df_studios, left_on='Studios', right_on='studio_name', how='left')
df_anime_production = df_anime_production.merge(df_licensor, left_on='Licensors', right_on='licensor_name', how='left')


df_anime_production = df_anime_production[["anime_id", "producer_id", "studio_id","licensor_id"]] 
df_anime_production.head()

   anime_id  producer_id  studio_id  licensor_id
0         1            0          0            0
1         5            1          1            1
2         6            2          2            2
3         7            3          0            0
4         8            4          4            4

In [20]:
df_anime_production.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/6anime_production.csv")
del df_anime_production

In [21]:
df_metadata = df_anime[["anime_id", "Episodes", "Aired", "Premiered", "Source"]]
df_metadata.columns = df_metadata.columns.str.lower()

df_metadata["episodes"].replace("Unknown", "NULL", inplace=True)
df_metadata = df_metadata[["anime_id","episodes","aired","premiered","source"]]

df_metadata = df_metadata[["anime_id","episodes","aired","premiered","source"]]

df_metadata

/tmp/ipykernel_13845/2173934648.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_metadata["episodes"].replace("Unknown", "NULL", inplace=True)
/tmp/ipykernel_13845/2173934648.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_metadata["episodes"].replace("Unknown", "NULL", inplace=True)

,anime_id,episodes,aired,premiered,source
0,1,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,Original
1,5,1,"Sep 1, 2001",Unknown,Original
2,6,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,Manga
3,7,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,Original
4,8,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,Manga
...,...,...,...,...,...
14947,48481,NULL,"Apr 4, 2021 to ?",Unknown,Novel
14948,48483,NULL,2021 to ?,Unknown,Manga
14949,48488,NULL,"Jul, 2021 to ?",Summer 2021,Visual novel
14950,48491,NULL,Unknown,Unknown,Manga
14951,48492,NULL,"Jul, 2021 to ?",Summer 2021,Game

In [22]:
df_metadata.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/7anime_metadata.csv")
del df_metadata

In [23]:
# # Extract the anime_id and genres columns
# df_genres = df_anime[['anime_id', 'Genres']]

# # Rename the columns to match the table schema
# df_genres.rename(columns={'Genres': 'genres'}, inplace=True)

# df_genres["genre_id"] = 'NULL'

# df_genres = df_genres[["genre_id", "anime_id", "genres"]]

# # Save the dataframe to a CSV file
# df_genres.to_csv('/home/arsun/projects/AnimeReview-BLG317/data/processed/8anime_genres.csv', index=False)
# del df_genres